@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Make color swapper */
:root {
  --foreground: #00227A;
}

/* TODO: change hover color for dark mode */
/*  @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TODO: Think about ways to use component classes */
/* Only create component classes for repeated patterns
@layer components {
  .prose-paragraph {
    @apply text-base leading-relaxed text-gray-700;
  }
  
  .hero-text {
    @apply text-4xl font-bold text-center;
  }
} */